/node_modules
/public/hot
/public/uploadedFiles
/public/storage
/storage/*.key
/vendor
*.xlsx
*.zip
*.rar
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
